.errorblock {
    color: #ff0000;
    background-color: #ffEEEE;
    border: 3px solid #ff0000;
    padding: 8px;
    margin: 16px;
}

.errorTheme {
    color: #F36EA7;
}

.signupFormLogin{
    width: 270px;
    display: inline-block;
    *display: inline;
    vertical-align: text-top;
}

.loginFormLogin{
    width: 270px;
    display: inline-block;
    *display: inline;
    vertical-align: text-top;
}

.signupBlue{
    color: #53CBE9;
}

.loginPink{
    color: #F36EA7;
}

.loginSpacer{
    width: 90px;
    display: inline-block;
    *display: inline;
}

.inlineBlock{
    display: inline-block;
    *display: inline;
}

.horizontalAlignContent{
    margin-left:auto;
    margin-right:auto;
    width: 639px;
}

.fbppTotalContainer{
    margin-left:auto;
    margin-right:auto;
    width: 800px;
}

.fbppContainer {
    width: 265px;
    height: 265px;
}

/* resize images */
.fbppContainer img {
    width: 100%;
    height: auto;
}