.errorblock {
    color: #ff0000;
    background-color: #ffEEEE;
    border: 3px solid #ff0000;
    padding: 8px;
    margin: 16px;
}

.errorTheme {
    color: #F36EA7;
}

.signupFormLogin{
    width: 270px;
    display: inline-block;
    *display: inline;
    vertical-align: text-top;
}

.loginFormLogin{
    width: 270px;
    display: inline-block;
    *display: inline;
    vertical-align: text-top;
}

.signupBlue{
    color: #53CBE9;
}

.loginPink{
    color: #F36EA7;
}

.loginSpacer{
    width: 90px;
    display: inline-block;
    *display: inline;
}

.inlineBlock{
    display: inline-block;
    *display: inline;
}

.horizontalAlignContent{
    margin-left:auto;
    margin-right:auto;
    width: 639px;
}

.hideContainer{
    visibility: hidden;
}

.showContainer{
    visibility: visible;
}

.fbppTotalContainer{
    margin-left:auto;
    margin-right:auto;
    width: 815px;
}

.fbppContainer {
    width: 150px;
    height: 150px;
    background-color: #53CBE9;
    text-align:center;
    vertical-align: top;
    border: black solid 1px;
    padding:5px;
    margin:5px;
}

.photoControls{
    background-color: #E95393;
    height:35px;
    padding-left:5px;
    text-align:center;
    vertical-align: middle;
    margin-top:5px;
}

/* resize images */
.fbppImageHeightGreaterThanWidth {
    width: auto;
    height: 150px;
}

.fbppImageHeightLessThanWidth {
    height: 150px;
    width: auto;
}

.pinkButton {
    color: #fff;
    font-size: 0.875em;
    font-weight: normal;
    padding: 10px 15px;
    text-transform: uppercase;
    background:#F36EA7;
    display: inline-block;
    width: 100%;
    cursor:pointer;
    margin: 1em 0 0 0;
    border: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border-radius: 0.15em;
    -webkit-border-radius: 0.15em;
    -moz-border-radius: 0.15em;
    -o-border-radius: 0.15em;
    font-family: 'open_sansregular';
}

.pinkButton:hover{
    background-color:#EE639F;
}

.blueButton{
    color: #fff;
    font-size: 0.875em;
    font-weight: normal;
    padding: 10px 15px;
    text-transform: uppercase;
    background:#53CBE9;
    display: inline-block;
    width: 100%;
    cursor:pointer;
    margin: 1em 0 0 0;
    border: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border-radius: 0.15em;
    -webkit-border-radius: 0.15em;
    -moz-border-radius: 0.15em;
    -o-border-radius: 0.15em;
    font-family: 'open_sansregular';
}

.blueButton:hover{
    background-color:#43C5E6;
}

.normalText{
    color: #777777;
    display: block;
    font-size: 0.875em;
    font-weight: normal;
    line-height: 1.5em;
    text-align: left;
    text-transform: uppercase;
}

.verticalSpacer{
    height:15px;
}

.buttonMaxTwoHundred{
    width:200px;
    margin-left:5px;
}

#sortable {
    list-style-type: none; margin: 0; padding: 0; width: 815px;
}
.sortableLI { margin: 3px 3px 3px 0; padding: 5px; float: left; width: 150px; height: 150px; font-size: 4em; text-align: center; }

.ui-button-text{
    font-size:14px;
    padding:5px;
}

.ui-buttonset{
    padding-top: 5px;
    width:100%;
}